*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#ddd;
}

.top{
    border:1px solid black;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    background-color:#393d49;
    color: #fff;
}
.search{
    border:1px solid black;
    width: 1000px;
}
.center{
    text-align: center !important;
}
.thead_center th{
    text-align: center !important;

}

.button_height{
    height: 25px !important;
    line-height: 25px !important;
}
